.maindiv{
  width: 100%;
  height: 100%;
}
.logo{
  text-align: center;
  width: 100%;
}
.links{
  width: 100%;
}
.footer, .router{
  width: 100%;
  height: 100%;
  padding-top: 70px;
  text-align: center;
}






