div.alldivs {
  width:500px;
  margin: auto;
  border: 3px solid green;
}
.alldivs1, .alldivs2, .alldivs3, .alldivs4 {
  width:500px;
  margin: auto;
  border: 3px solid red;
}

img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto }
