
.maindiv{
  width: 700px;
  height: 600px;

}
.title{
  width: 700px;
  height: 100px;

}
.logo{
  text-align: center;
  width: 700px;

}
.links{
  width: 700px;
  height: 100px;

}
.router{
  width: 700px;
  height: 100px;

}
.footer{
  width: 700px;
  height: 100px;
  padding-top: 70px;
}
.router, .footer {
  margin: auto;
  width: 50%;
}





